
<div>
 <%= form_tag(recipes_path, method: "get") do %>
   <%= text_field_tag "ingredient", params["ingredient"] %>
   <%= submit_tag "szukaj" %>
  <% if(params["ingredient"]) %>
     <%= link_to("resetuj", recipes_path) %>
  <p><%= link_to("Powrót", recipes_path) %></p>
 <% end %>
  <% end %>
</div>


<h1>Moje przepisy</h1>
<div>
  <% for r in @recipes %>
    <h2><%= r.name %></h2>
   <p><%= r.ingredients %></p>
  <p><%= link_to("zobacz przepis", recipe_path(r.id)) %></p>
 <% end %>
</div>

<div></div>
<p><%= link_to("dodaj przepis", new_recipe_path) %></p>